<div class="bg-light">
<!-- header -->
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="d-flex justify-content-start align-items-center">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="assets/images/Logo_transparent.png" alt="lccv_logo" height="60px">
        </a>
        <h6>
            <strong class="text-light">Laboratório de Computação Científica e Visualização</strong>
        </h6>
      </div>
    </div>
  </header>

      <div class="container bg-white my-5 py-4">
          <router-outlet></router-outlet>
      </div>
</div>